################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TxnFlow/v16
/.vs/TxnFlow/config/applicationhost.config
/bin
/packages/EntityFramework.6.1.3
/obj/Debug
/TxnFlow.Data/bin/Debug
/TxnFlow.Data/obj/Debug
/TxnFlow.Infrastructure/obj/Debug
/TxnFlow.Interfaces/bin/Debug
/TxnFlow.Interfaces/obj/Debug
/TxnFlow.ServiceLayer/obj/Debug
/TxnFlow.Logic/obj/Debug
